.locator .section {
	display: block;
	overflow: hidden;
}
.locator .places-map {
	display: none;
}
.locator .places-map.visible{
	display: block;
}
.locator .area {
	float: left;
}
.locator .col{
	float: right;
}
.locator #places .box {
	display:table;
	width: 100%;
}
.locator #places .box a{
	display: table-cell;
	vertical-align: middle;
}
.gm-style-pbc + div > div > div > * {
	max-width: 350px;
}
.gm-style-iw p {
	max-width: 300px;
}
@media screen and (max-width: 650px) {
	.locator .area {
		width: 100%;
		margin-bottom: 40px;
	}
	.locator .col {
		width: 100%;
	}
}